@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    /*background: #2ecc71;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: normal;
}

.next-wrap {
    position: relative;
    max-width: 840px;
    margin: 8% auto;
    background: #ecf0f1;
    color: #666;
    font-size: 1em;
    line-height: normal;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

#cssminifier {
    overflow: hidden;
    background: #ecf0f1;
    position: relative;
    display: block;
    clear: both;
    border-radius: 5px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.05)
}

#cssminifier textarea {
    overflow: hidden;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    padding: 20px;
    font: normal 13px 'Courier New', Monospace;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px 5px 0 0;
    resize: none
}

textarea:focus {
    background-color: #FFF;
    color: #303030
}

#cssminifier .box {
    margin: 10px auto 30px;
    color: rgba(255, 2255, 255, .6);
}

#cssminifier .box p {
    margin: 0 0 2px
}

#cssminifier button {
    cursor: pointer;
}

#cssminifier .col {
    width: 48%;
    margin: 0 auto 30px
}

#cssminifier .left {
    float: left;
    margin-left: 1%
}

#cssminifier .right {
    float: right;
    margin-right: 1%
}

#cssminifier .button-group {
    background: #2980b9;
    text-align: center;
    padding: 20px 20px 40px 20px;
    margin: 0;
    border-radius: 0 0 5px 5px
}

#cssminifier button,
#cssminifier button[disabled]:active {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #fefefe;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.471;
    border-radius: 4px;
    margin: 0 5px;
    border: 0;
    transition: all .1s
}

#cssminifier button:hover,
#cssminifier button:active {
    background: #fff;
    color: #2980b9
}

#cssminifier button[disabled],
#cssminifier button[disabled]:active {
    background: #fff;
}

#cssminifier .opt1,
#cssminifier .opt2,
#cssminifier .opt3,
#cssminifier .opt4,
#cssminifier .opt5 {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
    border: none;
    outline: none
}

#cssminifier br {
    display: none
}