{% extends "base.html" %}

{% block content %}
<div class="posts">
    {% if error %}
    <h2 class="post-title">{{ error }}</h2>
    {% else %}
    {% for post in post_list %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>

            <p class="post-meta">
                <label class="post-description">Time: {{ post.date_time |date:'Y 年 m 月 d 号 H 时' }}</label>&nbsp&nbsp
                <label class="post-description">Category: </label><a class="post-category post-category-js" href=
                    "{% url 'search_tag' tag=post.category %}">{{ post.category }}</a>&nbsp&nbsp
                <label class="post-description">Tag: </label>
                {% for tag in post.tag.all %}
                <a class="post-category post-category-design" href="#">{{ tag }}</a>
                {% endfor %}
            </p>
        </header>
    </section>
    {% endfor %}
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}