{% extends "base.html" %}
{% load custom_markdown %}

{% block head_title %}
    {% include "title.html" %}
{% endblock %}

{% block sidebar_content %}
    <div id="id_sidebar" class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="sidebar-search">
            <a href="{% url 'home' %}" class="fa fa-home">w@tch</a>
            <form action="{% url 'search_article' %}" method="post">
                {{ form.title }}
                {% csrf_token %}
            </form>
        </div>
        <div class="sidebar-search-menu">
            {% include "article_sidebar.html" %}
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>

                {% include "article_info.html" %}
            </header>

            <div class="post-description">
                <article class="markdown-body">
                    {{ post.content|custom_markdown }}
                </article>
            </div>
        </section>
    </div>
{% endblock %}