<ul>
    {% if toc %}
        {% for l1 in toc %}
            <li class="toctree-l1">
                <a href="#{{ l1.id }}">
                    {% if l1.child %}
                        <span class="toctree-expand fa fa-plus-square-o show-button"></span>{{ l1.title }}
                        <ul>
                            {% for l2 in l1.child %}
                                <li>
                                    <a class="a-show" href="#{{ l2.id }}">
                                        {% if l2.child %}
                                            <span class="toctree-expand fa fa-plus-square-o"></span>
                                            {{ l2.title }}
                                            <ul>
                                                {% for l3 in l2.child %}
                                                    {% if l3 %}
                                                        <li>
                                                            <a href="#{{ l3.id }}">
                                                                <span class="toctree-expand fa fa-plus-square-o"></span>
                                                                {{ l3.title }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ l2.title }}
                                        {% endif %}
                                    </a>
                                </li>

                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ l1.title }}
                    {% endif %}
                </a>
            </li>

            {#                <ul>#}
            {#                    <li class=""><a href="#requirements">Requirements</a></li>#}
            {#                    <li class="toctree-l2"><a href="#installing-gitpython">Installing#}
            {#                        GitPython</a></li>#}
            {#                    <li class="toctree-l2">#}
            {#                        <a href="#limitations">#}
            {#                            <span class="toctree-expand fa fa-plus-square-o"></span>Limitations#}
            {#                        </a>#}
            {#                        <ul>#}
            {#                            <li class="toctree-l3">#}
            {#                                <a class="reference internal" href="#leakage-of-system-resources">Leakage#}
            {#                                    of System Resources</a>#}
            {#                            </li>#}
            {#                            <li class="toctree-l3">#}
            {#                                <a class="reference internal"#}
            {#                                   href="#best-effort-for-python-2-6-and-windows-support">Best-effort#}
            {#                                    for Python 2.6 and Windows support</a>#}
            {#                            </li>#}
            {#                        </ul>#}
            {#                    </li>#}
            {#                    <li class="toctree-l2"><a class="reference internal" href="#getting-started">Getting Started</a>#}
            {#                    </li>#}
            {#                    <li class="toctree-l2"><a class="reference internal" href="#api-reference">API Reference</a>#}
            {#                    </li>#}
            {#                    <li class="toctree-l2"><a class="reference internal" href="#source-code">Source Code</a></li>#}
            {#                    <li class="toctree-l2"><a class="reference internal" href="#questions-and-answers">Questions and#}
            {#                        Answers</a></li>#}
            {#                    <li class="toctree-l2"><a class="reference internal" href="#issue-tracker">Issue Tracker</a>#}
            {#                    </li>#}
            {#                    <li class="toctree-l2"><a class="reference internal" href="#license-information">License#}
            {#                        Information</a></li>#}
            {#                </ul>#}
        {% endfor %}
    {% endif %}
</ul>
