{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ post.title }}</h2>

            <p class="post-meta">
                <label class="post-description">Time: {{ post.date_time|date:'Y 年 m 月 d 号 H 时' }}</label>&nbsp&nbsp
                <label class="post-description">Category: </label><a class="post-category post-category-js" href=
                    "{% url 'search_tag' tag=post.category %}">{{ post.category }}</a>&nbsp&nbsp
                <label class="post-description">Tag: </label>
                {% for tag in tags %}
                <a class="post-category post-category-design" href="#">{{ tag }}</a>
                {% endfor %}
            </p>
        </header>

        <div class="post-description">
            <p>
                {{ post.content|custom_markdown }}
            </p>
        </div>
    </section>
</div><!-- /.blog-post -->
{% endblock %}