{% extends "base.html" %}
{% load custom_markdown %}

{% block sidebar_content %}
    {% include "search_sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>

                {% include "article_info.html" %}
            </header>

            <div class="post-description">
                <article class="markdown-body">
                    {{ post.content|custom_markdown }}
                </article>
            </div>
        </section>
    </div>

{% endblock %}