{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>w@tch 个人门户</title>
    <link href="https://fonts.font.im/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet'
          href='https://cdn.bootcdn.net/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="{% static "homepage/style.css" %}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>w@tch</h1>
<h5>个人门户</h5>
<div class="periodic-table">
    <div class="empty-spacer-1"></div>
    <div class="empty-spacer-2"></div>
    <a class="periodic-element social-media" data-description="GitHub 个人主页😂"
       href="https://github.com/L1nwatch" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-social-github icons"></i></div>
            <div class="description">GitHub</div>
        </div>
    </a>
    <a class="periodic-element social-media" data-description="个人 Gitee 主页🏀" target="_blank"
       href="https://gitee.com/w4tch">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-social-github icons"></i></div>
            <div class="description">Gitee</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="While I want to eat 🥣" href="http://watch0.top/just_eating/home"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-like icons"></i></div>
            <div class="description">Eating</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="个人使用的 Jira 🔥"
       href="https://w4tch.atlassian.net/jira" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-key icons"></i></div>
            <div class="description">Jira</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="个人使用的 confluence 💪🏻"
       href="https://w4tch.atlassian.net/wiki" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-docs icons"></i></div>
            <div class="description">Wiki</div>
        </div>
    </a>
    <a class="periodic-element social-media"
       data-description="领英 linkedin 个人主页 🐛"
       href="https://www.linkedin.com/in/%E4%B8%B0-%E6%9E%97-ba4495102/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-social-linkedin icons"></i></div>
            <div class="description">LinkedIn</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="个人笔记库主页"
       href="http://watch0.top/articles" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-note icons"></i></div>
            <div class="description">Blog</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff" data-description="安全挑战页面 🐦"
       href="http://www.wechall.net/profile/WATCH" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-game-controller icons"></i></div>
            <div class="description">WeChall</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="飞书文档 ✌️"
       href="https://drxsfuqrht.feishu.cn/sheets/shtcnWVRIvNaaRjrECipxsPLP0c" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-grid icons"></i></div>
            <div class="description">FeiSu</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
    data-description="Google Docs "
    href="https://docs.google.com/spreadsheets/u/0/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-grid icons"></i></div>
            <div class="description">GgDocs</div>
        </div>
    </a>

    <a class="periodic-element intense-work"
       data-description="个人 Notion 📖"
       href="https://watch0.notion.site/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">SO</div>
            <div class="description">Notion</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="My secret Journal 😛"
       href="http://watch0.top/work_journal/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Jn</div>
            <div class="description">Journal</div>
        </div>
    </a>
    <a class="periodic-element social-media"
       data-description="My Resume 🔖"
       href="http://watch0.top/resume" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Re</div>
            <div class="description">Resume</div>
        </div>
    </a>
    <a class="periodic-element social-media"
       data-description="My CV 😂" href="http://watch0.top/cv"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">CV</div>
            <div class="description">Cv</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="All my notes archives 🍳" href="http://watch0.top/articles/archives/"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Ar</div>
            <div class="description">Archives</div>
        </div>
    </a>
    <a class="periodic-element just-trying" data-description="ToolHub 🐈🐕🐍🐬"
       href="http://watch0.top/tool_hub/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">TH</div>
            <div class="description">ToolHub</div>
        </div>
    </a>
    <a class="periodic-element just-trying" data-description="TimeLine 🕰️"
       href="http://watch0.top/timeline_app/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">TL</div>
            <div class="description">Timeline</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="LifeSummary" target="_blank" href="http://watch0.top/life_summary_app/">
        <div class="periodic-element-inner">
            <div class="title">LS</div>
            <div class="description">LifeSum</div>
        </div>
    </a>
    <a class="periodic-element social-media"
       data-description="Gitbooks"
       href="https://app.gitbook.com/@l1nwatch"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">GB</div>
            <div class="description">GitBook</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="Codepen ❤️"
       href="https://codepen.io/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">CP</div>
            <div class="description">Codepen</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="My To-Do List 🍪 "
       href="https://to-do.live.com/tasks/today" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">TD</div>
            <div class="description">To-Do</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff"
       data-description="Watching some videos  💸" href="https://www.olevod.com/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">OV</div>
            <div class="description">OleVod</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="Server Website️"
       href="https://my.vultr.com/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">VT</div>
            <div class="description">Vultr</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="一堆好用的工具，全国ping之类的"
       href="https://ping.chinaz.com/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">CT</div>
            <div class="description">zh-tools</div>
        </div>
    </a><a class="periodic-element intense-work"
           data-description="DNS management"
           href="https://www.west.cn/" target="_blank">
    <div class="periodic-element-inner">
        <div class="title">WE</div>
        <div class="description">WEST</div>
    </div>
</a>
    <a class="periodic-element intense-work" data-description="LastPass(passwords management)"
       href="https://www.lastpass.com/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">LP</div>
            <div class="description">LastPass</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff" data-description="While watching some comical video" href="http://feijisu.icu/"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">FJ</div>
            <div class="description">FeiJiSu</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="Photos Management" href="https://photos.google.com/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Ph</div>
            <div class="description">Photos</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="For asking programming problems"
       href="https://stackoverflow.com/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">SO</div>
            <div class="description">StackOverFlow</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="Music Management" href="https://music.youtube.com/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">MU</div>
            <div class="description">Music</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="For asking different questions"
       href="https://www.zhihu.com/column/testcircle"
       target="_blank"
    >
        <div class="periodic-element-inner">
            <div class="title">ZH</div>
            <div class="description">ZhiHu</div>
        </div>
    </a>
</div>
<div class="legend-table">
    <div class="legend-table__wrapper"><span class="legend-table__marker social-media"></span><span
            class="legend-table__text">Social Media</span><span class="legend-table__marker intense-work"></span><span
            class="legend-table__text">Useful Platform</span><span class="legend-table__marker just-trying"></span><span
            class="legend-table__text">My Tool</span><span
            class="legend-table__marker fun-stuff"></span><span
            class="legend-table__text">Fun Stuff</span><br/>
        <div class="legend-table__direction"><span>&#8594; &ensp; Across the table: Importance</span></div>
        <div class="legend-table__direction"><span>&#8595; &ensp; Down the table: Time Spent</span></div>
    </div>
</div>
<aside class="context">
    <div class="explanation">本页面模板来自 codepen.io :)<br/>
        <a href="mailto:watch1602@gmail.com" target="_blank">管理员联系方式</a>
    </div>
</aside>
<footer>
    <!--  <a href="https://twitter.com/meowlivia_" target="_blank"><i class="icon-social-twitter icons"></i></a>-->
    <a href="https://github.com/L1nwatch" target="_blank"><i class="icon-social-github icons"></i></a>
    <a href="http://watch0.top" target="_blank"><i class="icon-social-dribbble icons"></i></a>
</footer>
<!-- partial -->
<script src='https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

</body>
</html>
