{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>w@tch 个人门户</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet'
          href='https://cdn.bootcdn.net/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="{% static "homepage/style.css" %}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>w@tch</h1>
<h5>个人门户</h5>
<div class="periodic-table">
    <div class="empty-spacer-1"></div>
    <div class="empty-spacer-2"></div>
    <a class="periodic-element social-media" data-description="GitHub 个人主页😂"
       href="https://github.com/L1nwatch" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-social-github icons"></i></div>
            <div class="description">GitHub</div>
        </div>
    </a>
    <a class="periodic-element social-media" data-description="？？？ 🐶" target="_blank"
       href="#">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-close icons"></i></div>
            <div class="description">TBD</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="个人 Gitee 主页🏀" href="https://gitee.com/w4tch"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-social-github icons"></i></div>
            <div class="description">Gitee</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="个人使用的 Jira 🔥"
       href="https://w4tch.atlassian.net/jira" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-key icons"></i></div>
            <div class="description">Jira</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="个人使用的 confluence 💪🏻"
       href="https://w4tch.atlassian.net/wiki" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-docs icons"></i></div>
            <div class="description">Wiki</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff"
       data-description="领英 linkedin 个人主页 🐛"
       href="https://www.linkedin.com/in/%E4%B8%B0-%E6%9E%97-ba4495102/" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-social-linkedin icons"></i></div>
            <div class="description">LinkedIn</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff"
       data-description="个人笔记库主页"
       href="http://watch0.top/articles" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-note icons"></i></div>
            <div class="description">Blog</div>
        </div>
    </a>
    <a class="periodic-element social-media" data-description="安全挑战页面 🐦"
       href="http://www.wechall.net/profile/WATCH" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-game-controller icons"></i></div>
            <div class="description">WeChall</div>
        </div>
    </a>
    <a class="periodic-element social-media" data-description="飞书文档 ✌️"
       href="https://drxsfuqrht.feishu.cn/sheets/shtcnWVRIvNaaRjrECipxsPLP0c" target="_blank">
        <div class="periodic-element-inner">
            <div class="title"><i class="icon-grid icons"></i></div>
            <div class="description">FeiSu</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="???"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Yp</div>
            <div class="description">???</div>
        </div>
    </a>

    <a class="periodic-element intense-work"
       data-description="???"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Em</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="？？？ 🎨 ？？？ 😛"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Tc</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="???"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Lc</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="??? 😂" href="#"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">IOT</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff"
       data-description="??? 🍳" href="#"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">BD</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff" data-description="??? 🐈🐕🐍🐬"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">LP</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element fun-stuff" data-description="???"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">OW</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="???" target="_blank" href="#">
        <div class="periodic-element-inner">
            <div class="title">CC</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="???"
       href="#"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">CW</div>
            <div class="description">????</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="??? ❤️"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">AW</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="？？？ 🍪 "
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">MS</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element just-trying"
       data-description="？？  💸" href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">Oy</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element just-trying" data-description="？？？️"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">SF</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element social-media" data-description="？？？"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">DM</div>
            <div class="description">？？？</div>
        </div>
    </a><a class="periodic-element fun-stuff"
           data-description="？？？"
           href="#" target="_blank">
    <div class="periodic-element-inner">
        <div class="title">NJ</div>
        <div class="description">？？？</div>
    </div>
</a>
    <a class="periodic-element fun-stuff" data-description="？？？"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">UR</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="？？" href="#"
       target="_blank">
        <div class="periodic-element-inner">
            <div class="title">GM</div>
            <div class="description">???</div>
        </div>
    </a>
    <a class="periodic-element social-media"
       data-description="？？？" href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">PP</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="？？？"
       href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">DP</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element intense-work" data-description="？？？" href="#" target="_blank">
        <div class="periodic-element-inner">
            <div class="title">BH</div>
            <div class="description">？？？</div>
        </div>
    </a>
    <a class="periodic-element intense-work"
       data-description="？？？"
       href="#"
       target="_blank"
    >
        <div class="periodic-element-inner">
            <div class="title">TC</div>
            <div class="description">？？？</div>
        </div>
    </a>
</div>
<div class="legend-table">
    <div class="legend-table__wrapper"><span class="legend-table__marker social-media"></span><span
            class="legend-table__text">Social Media</span><span class="legend-table__marker intense-work"></span><span
            class="legend-table__text">Serious Work</span><span class="legend-table__marker just-trying"></span><span
            class="legend-table__text">Personal Development</span><span
            class="legend-table__marker fun-stuff"></span><span
            class="legend-table__text">Fun Stuff</span><br/>
        <div class="legend-table__direction"><span>&#8594; &ensp; Across the table: Importance</span></div>
        <div class="legend-table__direction"><span>&#8595; &ensp; Down the table: Time Spent</span></div>
    </div>
</div>
<aside class="context">
    <div class="explanation">本页面模板来自 codepen.io :)<br/>
        <a href="mailto:watch1602@gmail.com" target="_blank">管理员联系方式</a>
    </div>
</aside>
<footer>
    <!--  <a href="https://twitter.com/meowlivia_" target="_blank"><i class="icon-social-twitter icons"></i></a>-->
    <a href="https://github.com/L1nwatch" target="_blank"><i class="icon-social-github icons"></i></a>
    <a href="http://watch0.top" target="_blank"><i class="icon-social-dribbble icons"></i></a>
</footer>
<!-- partial -->
<script src='https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

</body>
</html>