<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% include "title.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static "search_page_style2.css" %}">
    <link rel="stylesheet" href="{% static "search_page_style.css" %}">
</head>


<body>
<section class="webdesigntuts-workshop">
    <form action="" method="">
        <input type="search" placeholder="What are you looking for?">
        <button>Search</button>
    </form>
</section>
<script src='{% static "jquery.min.js" %}'></script>
</body>
</html>
