<div class="sidebar pure-u-1 pure-u-md-1-4" id="id_sidebar">
    <div class="header">
        <h1 class="brand-title"><a href="{% url 'home' %}">w@tch</a></h1>
        <h2 class="brand-tagline">Valar - Morghulis</h2>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="button-success pure-button" id="id_home_page" href="/">主页</a>
                </li>
                <li class="nav-item">
                    <a class="button-success pure-button" id="id_archives" href="{% url 'archives' %}">归档</a>
                </li>
                <li class="nav-item">
                    <a class="button-success pure-button" id="id_work_journal" href="{% url 'work_journal' %}">日常汇总</a>
                </li>
                <li class="nav-item">
                    <a class="button-success pure-button" id="id_just_eating"
                       href="{% url 'just_eating' eating_place="home" %}"> 吃啥</a>
                </li>
                <li class="nav-item">
                    <a class="button-success pure-button" id="id_update_notes" href="{% url 'update_notes' %}"
                       onclick="check_is_valid_click()">手动更新笔记</a>
                </li>
                <li>
                    <form class="pure-form" action="{% url 'search' search_type=current_type %}" method="post">
                        {{ form.search_content }}
                        {% csrf_token %}
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <br/>
    <br/>
    <div class="footer">
        <nav class="nav">
            <ul class="nav-list">
                <li><label>
                    {% if total_numbers is not None %}
                        笔记总数: {{ total_numbers }}
                    {% elif articles_numbers is not None %}
                        文章数: {{ articles_numbers }}
                    {% elif journals_numbers is not None %}
                        日记数: {{ journals_numbers }}
                    {% elif gitbooks_numbers is not None %}
                        GitBook 数: {{ gitbooks_numbers }}
                    {% endif %}
                </label></li>
                &nbsp
                <li><label>创建博客日期: 2016.10.04</label></li>
            </ul>
        </nav>
    </div>
</div>