<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>吃啥</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "just_eating/style.css" %}">
    <link rel="stylesheet" href="{% static "just_eating/meanu_bar_style.css" %}">

</head>

<body>
<div class="mm-menu">
    <a id="id_home_page" href="{% url "home" %}" class="mm-item"><span class="fontawesome-home"></span></a>
{#    <a href="javascript:;" class="mm-item"><span class="fontawesome-comment"></span></a>#}
{#    <a href="javascript:;" class="mm-item"><span class="fontawesome-th"></span></a>#}
{#    <a href="javascript:;" class="mm-item"><span class="fontawesome-camera"></span></a>#}
{#    <a href="javascript:;" class="mm-item"><span class="fontawesome-cog"></span></a>#}
</div><!--/mm-menu-->
<div>
    <h1>
        <span class="blue">&lt;</span>Home<span class="blue">&gt;</span> <span class="yellow">Eating</span></h1>
    {#<h2>Created with love by <a href="http://pablogarciafernandez.com" target="_blank">Pablo García Fernández</a></h2>#}

    <table class="container">
        <thead>
        <tr>
            <th></th>
            <th><h1>早餐</h1></th>
            <th><h1>午餐</h1></th>
            <th><h1>晚餐</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>周一</td>
            <td>-</td>
            <td>-</td>
            <td><label>
                <a href="#">牛肉盖饭</a>
                <br/>
                <a href="#">冬瓜汤</a>
            </label></td>
        </tr>
        <tr>
            <td>周二</td>
            <td>-</td>
            <td>-</td>
            <td><label>
                <a href="#">白菜炒腐竹</a>
                <br/>
                <a href="#">紫菜鱼丸汤</a>
            </label></td>
        </tr>
        <tr>
            <td>周三</td>
            <td>-</td>
            <td>-</td>
            <td><label>
                <a href="#">盒饭</a>
            </label></td>
        </tr>
        <tr>
            <td>周四</td>
            <td>-</td>
            <td>-</td>
            <td><label>
                <a href="#">手抓饼</a>
            </label></td>
        </tr>
        <tr>
            <td>周五</td>
            <td>-</td>
            <td>-</td>
            <td><label>
                <a href="#">牛肉炒粿条</a>
                <br/>
                <a href="#">??汤</a>
            </label></td>
        </tr>
        <tr>
            <td>周六</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>周日</td>
            <td>-</td>
            <td>-</td>
            <td><label>
                <a href="http://www.xinshipu.com/zuofa/227911">可乐鸡翅</a>
                <br/>
                <a href="http://www.xinshipu.com/zuofa/116954">豆芽炒油豆腐</a>
            </label></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static "just_eating/menu_bar.js" %}"></script>
</html>
