<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>随便吃吃</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "just_eating/style.css" %}">
    <link rel="stylesheet" href="{% static "just_eating/menu_bar_style.css" %}">
    <link rel="stylesheet" href="{% static "just_eating/spinner.css" %}">
    <script src="{% static "just_eating/prefixfree.min.js" %}"></script>
</head>

<body>
{% include "menu_bar.html" %}
<div id="id_spainner_info">
    <div id="id_eating_places" class="dropdown">
        <button id="id_eating_what" class="dropbtn">{{ eating_place }}</button>
        <div class="dropdown-content">
            <a id="id_school_lunch" href="{% url "random_eating" eating_place='school_lunch' %}">学校午饭</a>
            <a id="id_school_dinner" href="{% url "random_eating" eating_place='school_dinner' %}">学校晚饭</a>
            <a id="id_school_dinner" href="{% url "random_eating" eating_place='menu_type' %}">随机</a>
        </div>
    </div>
</div>

<div class="spinner" id="id_spinner" style="color: #000000;">
    <div class="point"></div>
    {% for each_food in food_list %}
        <div class="choice" title="{{ each_food }}"><span></span></div>
    {% endfor %}
    <div class="pointer" id="id_pointer_span"><span></span></div>
</div>

<button id="id_spin_me">Spin me</button>
<table>
    <thead>
    <tr>
        <th>类型</th>
        <th>餐厅</th>
    </tr>
    </thead>
    <tbody>
    {% for each_place in restaurant_list %}
        <tr>
            <td>{{ each_place.type }}</td>
            <td>{{ each_place.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<br/>
<script defer src='{% static "jquery.min.js" %}'></script>
<script defer src="{% static "just_eating/spinner.js" %}"></script>
</body>
</html>
