<div class="mm-menu">
    <a id="id_home_page" href="{% url "home" %}" class="mm-item" style="z-index: 999999;">
        <span class="fontawesome-home"></span>
    </a>
    <a id="id_home_eating" href="{% url "just_eating" eating_place="home" %}" class="mm-item">
        <span class="fontawesome-signin"></span>
    </a>
    <a id="id_school_eating" href="{% url "just_eating" eating_place="school" %}" class="mm-item">
        <span class="fontawesome-flag"></span>
    </a>
    <a id="id_sangfor_eating" href="{% url "just_eating" eating_place="sangfor" %}" class="mm-item">
        <span class="fontawesome-sitemap"></span>
    </a>
    <a id="id_random_eating" href="{% url "random_eating" eating_place="school_lunch" %}" class="mm-item">
        <span class="fontawesome-food"></span>
    </a>
    <!-- building 图标也不错-->
</div><!--/mm-menu-->