<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人生活经历</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "app_life_summary/life_summary/style.css" %}">

</head>

<body>

<nav>
    <ul>
        <li id="id_home_page">
            <div>0</div>
            <div>主页</div>
        </li>
        <li id="link-one">
            <div>1</div>
            <div>洗漱用品</div>
        </li>
        <li id="link-two">
            <div>2</div>
            <div>租房</div>
        </li>
        <li id="link-three">
            <div>3</div>
            <div>服装</div>
        </li>
        <li id="link-four">
            <div>4</div>
            <div>电子装备</div>
        </li>
        <li id="link-five">
            <div>5</div>
            <div>生活习惯</div>
        </li>
        <li id="link-six">
            <div>6</div>
            <div>生活用品</div>
        </li>
    </ul>
</nav>
<div class="desktop" id="one">
    <h1>洗漱用品</h1>
    <p>洗发水</p>
    <ul>
        <li>清扬，薄荷味，洗完确实没头屑，但是有油</li>
        <li>沙宣，黑色，千万不要买；红色那款想试就试吧</li>
        <li>马油，很好，洗了没油也没头皮屑</li>
        <li>洗发水不要买那款油脂平衡的，洗得很不舒服</li>
    </ul>
    <p>沐浴露</p>
    <ul>
        <li>沐浴露买那个日本的资生堂</li>
        <li>还有需要买个类似于搓泥的东西来洗脚（搓泥浴宝）</li>
    </ul>
    <p>洗衣液</p>
    <ul>
        <li>洗衣液买汰渍的，挺香</li>
    </ul>
</div>
<div class="desktop" id="two">
    <h1>租房</h1>
    <p>出差旅行住酒店</p>
    <ul>
        <li>以后不要再住布丁了</li>
        <li>住酒店最好有窗户</li>
    </ul>
    <p>出租房</p>
    <ul>
        <li>厕所要有水龙头啊，要不然刷鞋不方便</li>
        <li>合租的话至少要有 2 个厕所, 当然最好是一人一个厕所</li>
        <li>租的房子一定得有能够代替收快递的门房之类的, 最好有速递易这样的自提箱</li>
    </ul>
</div>
<div class="desktop" id="three">
    <h1>服装</h1>
    <p>衣服</p>
    <ul>
        <li>优衣库 180/108B 偏大</li>
        <li>以后不管买什么，都买 175 的，不管是不是外套还是啥的，只看身高！</li>
        <li>买安卓 fq 的都买 L 号的</li>
        <li>迪卡侬的外套，建议买 L 的</li>
        <li>裤子 3 条不够用，起码 4 条</li>
        <li style="list-style-type:none">
            <ul>
                <li>短裤可以去迪卡侬买拉链短裤</li>
                <li>反光运动服迪卡侬有</li>
                <li>裤子买跟亚马逊那条一样的材料，不会乱叫</li>
            </ul>
        </li>
    </ul>
    <p>鞋子</p>
    <ul>
        <li>买鞋以后都买 44 码的</li>
    </ul>
</div>
<div class="desktop" id="four">
    <h1>电子装备</h1>
    <p>录音手环</p>
    <ul>
        <li>录音手环绝对不买 JNN 家的，太坑了，BUG 一大堆，下次电子产品还是买知名厂家的吧</li>
    </ul>
    <p>耳机</p>
    <ul>
        <li>耳机盒子 8 cm 左右差不多</li>
    </ul>
</div>
<div class="desktop" id="five">
    <h1>生活习惯</h1>
    <p>耵聍清理的问题</p>
    <ul>
        <li>需要区分自己是不是油性，如果是的话则要经常清理</li>
        <li>目前的计划是，只清理耳朵外围的，一旦出现听力衰减等情况就去医院处理</li>
    </ul>
    <p>购物/付款问题</p>
    <ul>
        <li>可以查看历史价格，没必要等 0 点抢券啥的，平时想买直接领券，有好券直接买，不用等时间了</li>
        <li>使用 Apple Pay 一律京东闪付</li>
        <li>其余情况看哪家支付有优惠就用哪家，比如招商银行提示有优惠就用招商银行</li>
        <li>要买到比实际卖价更便宜的产品，自己去度娘下载一些获取内部优惠券的插件，比如店侦探，查淘客，淘客助手等等</li>
        <li>当你想到购买某件刚需性，并且淡旺季很明显的产品时，往前推2个月，是买那件东西最便宜的时候，比如电风扇，5月份天气热了，3月份-4月份是买电风扇是最便宜的</li>
    </ul>
    <p>洗衣服</p>
    <ul>
        <li>洗衣袋
            <ul>
                <li>只用来洗袜子和内裤</li>
                <li>买大一点的洗衣袋</li>
                <li>俩洗衣袋不够用，最好买三个以上</li>
                <li>袜子和内裤还能分开来洗的</li>
            </ul>
        </li>
    </ul>
    <p>刷牙</p>
    <ul>
        <li>清洁舌苔</li>
        <li>至少 3 分钟（电动牙刷 2 分钟）</li>
    </ul>
</div>
<div class="desktop" id="six">
    <h1>生活用品</h1>
    <p>各种杂物</p>
    <ul>
        <li>买肥皂盒的时候要买带盖子的（如果需要买肥皂盒的话）</li>
        <li>保持器盒子：
            <ul>
                <li>高：2.9cm，勉强可以接受</li>
                <li>长：7 cm，太大，少个 3 cm 还差不多</li>
                <li>宽：8 cm，太大，少个 3 cm 还差不多</li>
            </ul>
        </li>
        <li>插座买个带按钮的</li>
    </ul>
</div>

<script src="{% static "app_life_summary/life_summary/index.js" %}"></script>

</body>
</html>
