<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>凯撒密码</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "toolhub/css/base.css" %}">
    <link rel="stylesheet" href="{% static "toolhub/css/reset.min.css" %}">
    <link rel="stylesheet" href="{% static "toolhub/css/github_picture_translate_tool.css" %}">
    <link href="{% static "favicon.ico" %}" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    {% csrf_token %}
</head>

<body>
{% include "toolhub_header.html" %}


<div class="next-wrap">
    <h1 style="float:left">凯撒密码</h1>
    <label style="float:right;font-size: 50%;">
        输入要解密的串, 然后点击解密按钮</label>
    <label style="float:right;font-size: 50%;">DEMO--</label>
    <div id="cssminifier">
        <span class="clear"></span>
        <form>
            {{ textarea_form }}
            {% csrf_token %}
        </form>
        <div class="button-group">
            <button id="id_caesar_encrypt_button">加密</button>
            <button id="id_caesar_decrypt_button">解密</button>
            <button onclick="clearField(&quot;id_input_box&quot;);">Clear Input</button>
            <button id="id_copy_button" data-clipboard-target="#id_output_box">Copy Output</button>
        </div>

        <textarea id="id_output_box" autofocus="" placeholder="Result will show here..."
                  spellcheck="false"></textarea>

        <div class="clear">
        </div>
    </div>
</div>

<script src="{% static "toolhub/js/clipboard.min.js" %}"></script>
<script src='{% static "jquery.min.js" %}'></script>
<script src="{% static "toolhub/js/caesar_cipher/caesar_cipher.js" %}"></script>

</body>
</html>
