<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 Kittens</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "common_module/css/404_style.css" %}">


</head>

<body>
<div class="container">
    <form class="four-oh-four-form">
        <input type="text" class="404-input">
    </form>

    <div class="terminal">
        <p class="prompt">The page you requested cannot be found right meow. Try typing 'kittens'.</p>
        <p class="prompt output new-output"></p>
    </div>
</div>
<script src='{% static "jquery.min.js" %}'></script>
<script src='{% static "common_module/js/velocity.min.js" %}'></script>

<script src="{% static "common_module/js/404_index.js" %}"></script>

</body>
</html>
