/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
/* latin */
@font-face {
    font-family: 'Balthazar';
    font-style: normal;
    font-weight: 400;
    src: url('/static/just_eating/d6lKkaajS8Gm4CVQjFEfzh7p_dpshg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 450px;
    background-color: #e6f7ff;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px dotted #0077b6;

}

th {
    background-color: #0077b6;
    color: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Balthazar', serif;
    border: 0px;
    width: 100%;
    height: 100%;
}

h1 {
    padding: 30px 0px 20px;
    font-size: 40px;
    text-align: center;
}

.spinner {
    margin: 0px auto;
    position: relative;
    border-radius: 100%;
    width: 450px;
    height: 450px;
    overflow: hidden;
}

.spinner .choice {
    display: block;
    position: absolute;
}

.spinner .choice:after {
    content: attr(title);
    display: block;
    position: absolute;
    top: 150%;
    left: 0px;
    font-size: 20px;
    text-align: right;
    width: 100%;
    transform: rotate(90deg);
}

.spinner .choice span {
    content: '';
    display: block;
    position: absolute;
    border-color: red;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    height: 0px;
}

.spinner .pointer {
    margin-top: -20px;
    margin-left: -20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: all 0.2s linear 0s;
}

.spinner .pointer:after {
    content: '';
    display: block;
    margin-left: -10px;
    position: absolute;
    top: -24px;
    left: 50%;
    border: 10px transparent solid;
    border-bottom: 20px #FFF solid;
    width: 0px;
    height: 0px;
}

.spinner .pointer span {
    z-index: 2;
    margin-top: -16px;
    margin-left: -16px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #EEE;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
    background: #DDD;
    font: 20px 'Balthazar', serif;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #666;
    color: #FFF;
}

/* 下拉按钮样式 */
.dropbtn {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
    background: none;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    /*display: inline-block;*/
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/*
 * 针对 iPhone5s 设备进行样式设置
 */
@media (min-device-width: 320px) and (max-device-width: 767px) {
    #id_spin_me {
        font-size: 100px;
    }

    .spinner {
        width: 900px;
        height: 900px;
    }

    .dropbtn {
        font-size: 8em;
    }

    #id_home_page, #id_home_eating {
        z-index: 999999;
    }

    .dropdown-content a {
        padding: 50px 16px;
        font-size: 50px;
    }

    .spinner .choice:after {
        font-size: 40px;
    }
}

/*
 * 针对 mac 设备进行样式设置
 */
@media (min-device-width: 1024px) {
    h1 {
        font-size: 30px;
    }

    .container {
        width: 75%;
        font-size: 8px;
    }

    .container thead th {
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .container td, .container th {
        padding-bottom: 2%;
        padding-top: 2%;
        padding-left: 4%;
    }
}


