{% extends "toolhub_base.html" %}

{% block header_content %}
    {% include "toolhub_header.html" %}
{% endblock %}

{% block result_content %}
    <span class="clock"></span>
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src='{% static "jquery.min.js" %}'></script>
    <script src='{% static "toolhub/js/mootools-yui-compressed.js" %}'></script>
    <script src="{% static "toolhub/js/home.js" %}"></script>
{% endblock %}

{% block custom_css %}
    <link href="{% static "toolhub/css/home.css" %}" rel="stylesheet"/>
{% endblock %}