{% block header_content %}
    <header class="toolhub_header">
        <div class="navbar navbar-inverse navbar-fixed-top" id="head_contents">
            <div class="navbar-header">
                <button type="button" class="btn btn-navbar" data-toggle="collapse"
                        data-target=".navbar-collapse-01"></button>
            </div>
            <div class="navbar-collapse collapse navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a id="id_home_page" href="{% url "home" %}">
                            Home
                            <span class="navbar-unread">1</span>
                        </a>
                    </li>
                    <li id="id_encoding_cipher">
                        <a href="#">
                            Encoding&Cipher
                        </a>
                        <ul>
                            <li><a>Encoding</a>
                                <ul>
                                    <li><a id="id_github_picture_translate" data-toggle="modal"
                                           href="{% url "github_picture_translate" %}">
                                        GitHub 图片地址转换
                                    </a></li>
                                    <li><a data-toggle="modal" href="#">Nothing3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Cipher</a>
                                <ul>
                                    <li><a id="id_caesar_cipher" data-toggle="modal"
                                           href="http://www.cryptool-online.org/index.php?option=com_cto&view=tool&Itemid=96&lang=en">
                                        Caesar Cipher
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /Sub menu -->
                    </li>
                    <li>
                        <a href="#">TestTool</a>
                        <ul>
                            <li><a href="#">ABTesting</a>
                                <ul>
                                    <li><a id="id_ab_testing_z_value_table"
                                           href="{% url "static_html_map" html_file_name="标准正态分布 Z 值表.html" %}">Test</a>

                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Nothing6</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Nothing7</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="id_toolhub_home">
                        <a href="{% url "toolhub_home" %}">ToolHub</a>
                    </li>
                </ul>
            </div>
            <!--/.nav -->
        </div>
    </header>
{% endblock %}