a {
    font-size: inherit;
}

.pure-form {
    font-size: 15px;
}

.pure-form .pure-input-2-3 {
    font-family: inherit;
}

/*
 * 针对 iPhone5s 设备进行样式设置
 */
@media (min-device-width: 320px) and (max-device-width: 767px) {
    .pure-form .pure-input-2-3 {
        width: 66%;
    }
}

/*
 * 针对 mac/iPad 设备进行样式设置
 */
@media (min-device-width: 768px) {
    .pure-form {
        font-size: 13px;
    }

    .pure-form .pure-input-2-3 {
        width: 100%;
    }
}

