<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static "app_timeline/travel_event_timeline/style.css" %}">


</head>

<body>

<div class="header">
    <a id="id_home_page" href="{% url "home" %}">旅行事件记录</a>
    <div id="dataYear"></div>
</div>
<div class="wrap">
    <div class="timeline">
        <div class="year"><h2>2017</h2>
            <div class="evt">
                <div class="in">
                      <span class="date">
                        <span class="day">01</span>
                        <span class="month">July</span>
                      </span>
                    <h2>汕头出发去深圳</h2>
                    <p class="data">
                        8.13 从家里坐小车前往客运站，8.23 到，注意火车站附近的大巴站是中心站，但是广东互联网售票没法买这里的票，所以下次还是自己过来买票吧。
                        9 点上大巴，9.02 大巴开车，开车前半小时不能退票了，买票的时候注意一下。由于是下雨天，没太阳，所以坐哪边都一样。不过坐右边可以看自己的行李还在不在。10.05
                        到高铁站拿票，周末人很多，10.26 拿完票进站，二次安检完 10.34 坐下。等待 11.34 的高铁，到深圳北站是 13.48，高铁盒饭一盒 45（牛肉）。到大学城是 2.11 分。
                    </p>
                </div>
            </div>

            <div class="evt">
                <div class="in">
                        <span class="date">
                            <span class="day">28</span>
                            <span class="month">June</span>
                        </span>
                    <h2>西电回汕头</h2>
                    <p class="data">
                        西稍门大酒店，4.30 醒来，5.30 出门，5.55 坐上大巴出发去机场，6.50 左右到机场，7.35 登机，8.15 飞机起飞，坐的是海南航空，没有平板可以玩，10.45
                        左右到深圳，11 点左右下飞机没上厕所直接去深圳北，12.20 到深圳北，检票进站花不到5分钟，坐的是 d7408，直接刷身份证即可，12.30 高铁出发，2.46 到潮汕站，2.50
                        买大巴票上车，东二线，3 点发车，坐了左边的位置，刚开始太阳一直晒，大概开了 10 分钟后，路线就不会晒到太阳了，到明珠广场下车，下车后加上骑自行车，回到家是 4 点</p>
                </div>
            </div>

            <div class="evt">
                <div class="in">
                        <span class="date">
                            <span class="day">28</span>
                            <span class="month">June</span>
                        </span>
                    <h2>潮汕高铁大巴</h2>
                    <p class="data">
                        票价 18 + 1 元保险
                    </p>
                    <p class="data">
                        东一线: 水果市场 -> 五矿物流城 -> 花园宾馆 -> 明珠广场 -> 天驰帝豪 -> 客运中心站
                    </p>
                    <p class="data">
                        东二线: 水果市场 -> 五矿物流城 -> 花园宾馆 -> 明珠广场 -> 维也纳酒店 -> 金海湾大酒店
                    </p>
                </div>
            </div>


        </div>
        {#        <div class="year">#}
        {#            <h2>2013</h2>#}
        {#            <div class="evt">#}
        {#                <div class="in">#}
        {#        <span class="date">#}
        {#            <span class="day">05</span>#}
        {#            <span class="month">Dec</span>#}
        {#          </span>#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">stuff</p>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="evt">#}
        {#                <div class="in">#}
        {#         <span class="date">#}
        {#            <span class="day">04</span>#}
        {#            <span class="month">Nov</span>#}
        {#          </span>#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">data</p>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="evt">#}
        {#       <span class="date">#}
        {#            <span class="day">25</span>#}
        {#            <span class="month">Jun</span>#}
        {#          </span>#}
        {#                <div class="in">#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">yup</p>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="year"><h2>2012</h2>#}
        {#            <div class="evt">#}
        {#                <div class="in">#}
        {#          <span class="date">#}
        {#            <span class="day">15</span>#}
        {#            <span class="month">Aug</span>#}
        {#          </span>#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">first</p>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <div class="evt">#}
        {#                <div class="in">#}
        {#          <span class="date">#}
        {#            <span class="day">11</span>#}
        {#            <span class="month">Feb</span>#}
        {#          </span>#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">first</p>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <div class="evt">#}
        {#                <div class="in">#}
        {#          <span class="date">#}
        {#            <span class="day">20</span>#}
        {#            <span class="month">Jan</span>#}
        {#          </span>#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">first</p>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="year"><h2>2011</h2>#}
        {#            <div class="evt">#}
        {#                <div class="in">#}
        {#          <span class="date">#}
        {#            <span class="day">03</span>#}
        {#            <span class="month">Jul</span>#}
        {#          </span>#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">Some things</p>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <div class="evt">#}
        {#                <div class="in">#}
        {#          <span class="date">#}
        {#            <span class="day">02</span>#}
        {#            <span class="month">Apr</span>#}
        {#          </span>#}
        {#                    <h2>Title</h2>#}
        {#                    <p class="data">Start</p>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

    </div>
</div>

<script src='{% static "jquery.min.js" %}'></script>

<script src="{% static "app_timeline/travel_event_timeline/index.js" %}"></script>

</body>
</html>
