<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static "app_timeline/travel_event_timeline/style.css" %}">


</head>

<body>

<div class="header">
    <a id="id_home_page" href="{% url "home" %}">旅行事件记录</a>
    <div id="dataYear"></div>
</div>
<div class="wrap">
    <div class="timeline">
        <div class="year"><h2>2017</h2>
            {% for each_evt in events %}
                <div class="evt">
                    <div class="in">
                      <span class="date">
                        <span class="day">{{ each_evt.day }}</span>
                        <span class="month">{{ each_evt.month }}</span>
                      </span>
                        <h2>{{ each_evt.title }}</h2>
                        {% for each_data in each_evt.data %}
                            <p class="data">
                                {{ each_data }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src='{% static "jquery.min.js" %}'></script>

<script src="{% static "app_timeline/travel_event_timeline/index.js" %}"></script>

</body>
</html>
